
<br>
<br>
<br/>

<div class="container search-results"
         infinite-scroll
         [infiniteScrollDistance]="1"
         [infiniteScrollThrottle]="10"
         (scrolled)="onScrollDown()">
    <!--<masonry [options]="{ transitionDuration: '0.8s' }">
        <masonry-brick class="brick" *ngFor="let special of specials">
            <div class="mdl-card mdl-shadow--2dp demo-card-square">
                <div class="mdl-card__media">
                    <img [src]="special.image320"/>
                    <span class="demo-card-image__filename">
                        {{special.name}}<br/>
                        {{special.name}}
                        <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" [routerLink]="['/detail', special.id]">
                            <div id="tt3" class="icon material-icons">link</div>
                            <div class="mdl-tooltip" data-mdl-for="tt3">
                                {{special.name}}
                            </div>
                        </a>

                    </span>

                </div>

            </div>
        </masonry-brick>
    </masonry>-->

        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <div class="wrapper" *ngFor="let st of specialTypes">
                <span class="square">
                    <a class="tenth before after" (click)="getTypeCallback(st.code)">{{st.name}}</a>
                </span>
            </div>
        </div>
 

   <div class="mdl-card mdl-shadow--2dp demo-card-square" *ngFor="let special of specials">
        <div class="mdl-card__media">
            <img [src]="special.image320"  />
            <span class="demo-card-image__filename">
                {{special.name}}
                <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" [routerLink]="['/detail', special.id]">
                    <div id="tt3" class="icon material-icons">link</div>
                    <div class="mdl-tooltip" data-mdl-for="tt3">
                        {{special.name}}
                    </div>
                </a>
                <p>Within {{special.distance}} miles from you</p>
               
            </span>

        </div>

    </div>

   
</div>


<my-spinner [isRunning]="isRequesting"></my-spinner>

