
<br>
<br>
<br />

<div class="container" *ngIf="specialInfo">

    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <div class="demo-card-square mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
                    <figure class="mdl-card__media">
                        <img [src]="specialInfo.image" alt="" />
                    </figure>
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">{{specialInfo.name}}</h1>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>{{specialInfo.description}}</p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                      
                      
                        <button class="main-red mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                            <div id="tt3" class="icon material-icons">shop</div>
                            <div class="mdl-tooltip" data-mdl-for="tt3">
                                Get it now
                            </div>
                        </button>
                        <button class="main-orange mdl-button mdl-js-button mdl-button--icon mdl-button--colored" (click)="fbFunction()">
                            <div id="tt3" class="icon material-icons">share</div>
                            <div class="mdl-tooltip" data-mdl-for="tt3">
                                share on facebook
                            </div>
                        </button>
                        <button class="main-green mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                            <div id="tt3" class="icon material-icons">phone</div>
                            <div class="mdl-tooltip" data-mdl-for="tt3">
                                Dial Number
                            </div>
                        </button>
                        <button class="main-blue mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                            <div id="tt3" class="icon material-icons">swap_calls</div>
                            <div class="mdl-tooltip" data-mdl-for="tt3">

                            </div>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col">
                &nbsp;
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <div class="card horizontal" >
                    <div class="card-image" *ngIf="specialInfo.store_logo">
                        <img [src]="specialInfo.store_logo"><br />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content" *ngIf="specialInfo.siteSafeUrl">
                                <iframe width="600"
                                        height="450"
                                        frameborder="0" style="border: 0"
                                        [src]="specialInfo.siteSafeUrl" allowfullscreen></iframe>
                        </div>
                        <div class="card-action">

                            <a target="_blank" style="width: 100%" class="mdl-button mdl-js-button mdl-ja-ripple-effect" href="{{specialInfo.site}}">
                                <div class="hit-the-floor">{{specialInfo.storeName}}</div></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <!--<iframe width="600"
                            height="450"
                            frameborder="0" style="border: 0"
                            [src]="specialInfo.gpsSrc" allowfullscreen></iframe>-->
                    <sebm-google-map [latitude]="specialInfo.latitude" [longitude]="specialInfo.longitude" [zoom]="18" >
                        <sebm-google-map-marker [latitude]="specialInfo.latitude" [longitude]="specialInfo.longitude"></sebm-google-map-marker>
                    </sebm-google-map>

                </div>
            </div>
        </div>








    </div>
</div>

<my-spinner [isRunning]="isRequesting"></my-spinner>